
<div class="container">

  <div style='height: 100px;'></div>

  <div>
    <h2> <strong>User:</strong>  <%= @user.email %>  </h2>
  </div>

  <div>
    <ul id="myTab" class="nav nav-tabs">
      <li class="nav-item">
        <a id="user-info-link" data-toggle="tab" class="nav-link" href="#user">User Info</a>

      </li>
      <li class="nav-item">
        <a id="bookings-link" data-toggle="tab" class="nav-link" href="#bookings">My Bookings</a>
      </li>
      <li class="nav-item">
        <a id="trabis-link" data-toggle="tab" class="nav-link" href="#trabis">My Trabis</a>
      </li>
    </ul>
  </div>
  <div id="user-info-tab" class="bg-white p-4 border">
    <div style="width: 60%" >

      <form id="user-form" action="<%= user_path(@user) %>" method="POST">
        <h5>Personal data</h5>
        <div class="border-top border-dark pt-4 pb-3">
          <input type="hidden" name="_method" value="PUT">
          <div class="d-flex">
            <div class="form-group mr-3">
              <%= cl_image_tag @user.photo, height: 230, width: 230, crop: :fill, gravity: :face, class: "avatar-img"  %>
            </div>
            <div id="files-field"
               class="dropzone dropzone-box dropzone-details">

              <div id="dz-message" class="dz-message">
                Drag your avatar here or click to select file!
              </div>
            </div>
          </div>

        <div class="d-flex">
          <div id="first-name-group" class="trabi-form-group">
            <label for="input-first-name">First name:</label><br>
            <input type="text" class="" id="input-first-name" size="21" value="<%= @user.first_name %>">
          </div>
           <div id="last-name-group" class="trabi-form-group">
            <label for="input-last-name">Last name:</label><br>
            <input type="text" class="" id="input-last-name" size="47" value="<%= @user.last_name %>">
          </div>
        </div>
        <div class="d-flex">
          <div class="trabi-form-group">
            <label for="input-email">Email address:</label><br>
            <input type="email" class="" size="47" id="input-email" value="<%= @user.email %>">
          </div>
           <div class="trabi-form-group">
            <label for="input-phone">Phone number:</label><br>
            <input type="text" class="" id="input-phone" size="21" value="<%= @user.phone_number %>">
          </div>
        </div>
      </div>

      <h5>Address</h5>
      <div class="border-top border-bottom border-dark pb-3 mb-4">

        <div class="d-flex">
          <div class="trabi-form-group">
            <label for="input-street">Street:</label><br>
            <input type="text" class="" id="input-street" size="48" value="<%= @user.street_address %>">
          </div>
           <div class="trabi-form-group">
            <label for="input-city">City:</label><br>
            <input type="text" class="" id="input-city" size="20"  value="<%= @user.city_address %>">
          </div>
        </div>
        <div class="d-flex">
          <div class="trabi-form-group">
            <label for="input-zip">ZIP code:</label><br>
            <input type="text" class="" id="input-zip" size="14" value="<%= @user.zip_address %>">
          </div>
           <div class="trabi-form-group">
            <label for="input-country">Country:</label><br>
            <input type="text" class="" id="input-country" size="54" value="<%= @user.country_address %>">
          </div>
        </div>

      </div>

      <button type="submit" class="trabi-btn">Submit changes</button>

    </form>

    </div>

  </div>

  <div id="bookings-tab" class="bg-white p-4 border">
    <h5>Current bookings</h5>
    <% if @current_bookings == [] %>
      <div class="mt-3 mb-5">
        <em>No current bookings</em>
      </div>
    <% else %>

     <!--  <table>
        <tbody> -->
          <ul id="user-list">
          <% @current_bookings.each do |booking| %>
          <li>

            <div class="user-table-card">
              <div class="basic-info-card">
                <div id="booking-id" class="">
                  <%= booking.id %>
                </div>

                <div id="legend-id">
                  <span>Start date:</span>
                  <span>End date:</span>
                </div>
                <div id="info-id">
                  <span><%= booking.start_date.strftime("%F") %></span>
                  <span>
                    <% if DateTime.now <= booking.end_date.to_datetime %>
                      <em>Still running</em>
                    <% else %>
                      <%= booking.end_date.strftime("%F") %>
                    <% end %>
                    </span>
                </div>
                <div id="space-id">
                </div>
                <div id="legend-id">
                  <span>Owner:</span>
                  <span>Car:</span>
                </div>
                <div id="info-id">
                  <span><%= booking.trabi.user.email %></span>
                  <span><%= booking.trabi.title %></span>
                </div>
              </div>
              <div id="review-card">
                <% if DateTime.now <= booking.end_date.to_datetime %>
                    <a class="trabi-btn disabled">Review</a>
                  <% else %>
                    <a id="<%="#{booking.id}-booking-review-button"%>" class="trabi-btn">Review</a>
                  <% end %>
              </div>
            </div>

          </li>
            <% if DateTime.now > booking.end_date.to_datetime %>
                <li>

                    <div id="<%="#{booking.id}-booking-review-box"%>" class="user-review-card">
                      <div class="col-12">
                        <%= simple_form_for(booking, method: "put") do |f| %>
                        <div class="col-2">
                          <%= f.input :rating_review,  collection: [0, 1, 2, 3, 4, 5], class: "trabi-form-group" %>
                        </div>
                        <div class="col-12">
                          <%= f.input :content_review, class: "trabi-form-group" %>
                          <%= f.button :submit, label: "Submit review", id: "simple-form-btn" %>
                          <a id="<%="#{booking.id}-booking-review-cl-button"%>" class="trabi-btn" style="color: #fff4e4;">Close</a>
                        </div>
                        <% end %>
                      </div>
                    </div>

                </li>
            <% end %>
          <% end %>
      </ul>

    <% end %>

    <h5 class="pt-4">Archived bookings</h5>
    <% if @archived_bookings == [] %>
      <div class="mt-3 mb-5">
        <em>No archived bookings</em>
      </div>
    <% else %>

      <ul id="user-list">
        <% @archived_bookings.each do |booking| %>
        <li>
            <div class="user-table-card" id="archived-card">
              <div class="basic-info-card">
                <div id="booking-id" class="">
                  <%= booking.id %>
                </div>

                <div id="legend-id">
                  <span>Start date:</span>
                  <span>End date:</span>
                </div>
                <div id="info-id">
                  <span><%= booking.start_date.strftime("%F") %></span>
                  <span>
                    <% if DateTime.now <= booking.end_date.to_datetime %>
                      <em>Still running</em>
                    <% else %>
                      <%= booking.end_date.strftime("%F") %>
                    <% end %>
                    </span>
                </div>
                <div id="space-id">
                </div>
                <div id="legend-id">
                  <span>Owner:</span>
                  <span>Car:</span>
                </div>
                <div id="info-id">
                  <span><%= booking.trabi.user.email %></span>
                  <span><%= booking.trabi.title %></span>
                </div>
              </div>
              <div id="review-card">
                <% if booking.rating_review.nil? %>
                  <em>No rating</em>
                <% else %>
                  <td>
                    <% if booking.rating_review.zero? %>
                      <a id="<%="#{booking.id}-booking-rating-button"%>" class="trabi-icon-btn">
                        <i id="<%="#{booking.id}-bones-icon"%>" class="fas fa-skull-crossbones trabi-icon-skull"></i>
                      </a>
                    <% else %>
                      <a id="<%="#{booking.id}-booking-rating-button"%>" class="trabi-icon-btn">
                        <% booking.rating_review.times do %>
                          <i id="<%="#{booking.id}-star-icon"%>" class="fas fa-star trabi-icon-star"></i>
                        <% end %>
                      </a>
                    <% end %>
                  </td>
                <% end %>
              </div>
            </div>

          </li>
          <li>
            <div id="<%="#{booking.id}-booking-rating-box"%>" class="user-review-card" id="user-rating-card">
              <div class="col-12">
                <p><%= booking.content_review %></p>
                <a id="<%="#{booking.id}-booking-rating-cl-button"%>" class="trabi-btn" style="color: #fff4e4">Close</a>
              </div>
            </div>
          </li>
      <% end %>
    </ul>
  <% end %>

  </div>
  <div id="trabis-tab" class="bg-white p-4 border">
    <h5>My current cars</h5>
    <% if @user.trabis == [] %>
      <div class="mt-3 mb-5">
        <em>No trabis offered yet</em>
      </div>
    <% else %>
      <ul id="user-list">
        <% @user.trabis.each do |trabi| %>

          <li>

            <div class="user-table-card">
              <div class="basic-info-card">
                <div id="booking-id" class="">
                  <%= trabi.id %>
                </div>
                <div id="legend-id">
                  <span>Car:</span>
                  <span>State:</span>
                </div>
                <div id="info-id">
                  <span><%= trabi.title %></span>
                  <span><%= @trabis_info[trabi.id][:state] %></span>
                </div>
                <div id="space-id">
                </div>
                <div id="legend-id">
                  <span>Last:</span>
                  <span>Upcoming:</span>
                </div>
                <div id="info-id">
                  <span><%= @trabis_info[trabi.id][:last] %></span>
                  <span><%= @trabis_info[trabi.id][:upcoming] %></span>
                </div>
              </div>
              <div>
                <div id="review-card">
                  <%=  link_to "Details", trabi_path(trabi), class: "trabi-btn mt-1" %>
                </div>
              </div>

            </div>

          </li>



        <% end %>
      </ul>






    <% end %>
  </div>
</div>
