
<div class="container">

  <div style='height: 100px;'></div>

  <div>
    <h2> <strong>User:</strong>  <%= @user.email %>  </h2>
  </div>

  <div>
    <ul id="myTab" class="nav nav-tabs">
      <li class="nav-item">
        <a id="user-info-link" data-toggle="tab" class="nav-link" href="#user">User Info</a>

      </li>
      <li class="nav-item">
        <a id="bookings-link" data-toggle="tab" class="nav-link" href="#bookings">My Bookings</a>
      </li>
      <li class="nav-item">
        <a id="trabis-link" data-toggle="tab" class="nav-link" href="#trabis">My Trabis</a>
      </li>
    </ul>
  </div>
  <div id="user-info-tab" class="bg-white p-4 border">
    <div style="width: 60%" >

      <form id="user-form" action="<%= user_path(@user) %>" method="POST">
        <h5>Personal data</h5>
        <div class="border-top border-dark pt-4 pb-3">
          <input type="hidden" name="_method" value="PUT">
          <div class="d-flex">
            <div class="form-group mr-3">
              <%= cl_image_tag @user.photo, height: 230, width: 230, crop: :fill, gravity: :face  %>
            </div>
            <div id="files-field"
               class="dropzone"
               style="border: 2px dashed rgba(0, 0, 0, 0.3);
                      height: 230px !important; width: 100%; background-color: #F4F4F4">
              <div class="dz-message"
                   style="margin: 65px 20px">
                Drag your avatar here or click to select file!
              </div>
            </div>
          </div>

        <div class="d-flex  mt-4">
          <div class="form-group w-30 mr-3">
            <label for="input-first-name">First name:</label>
            <input type="text" class="form-control" id="input-first-name" value="<%= @user.first_name %>">
          </div>
           <div class="form-group w-100">
            <label for="input-last-name">Last name:</label>
            <input type="text" class="form-control" id="input-last-name" value="<%= @user.last_name %>">
          </div>
        </div>
        <div class="d-flex">
          <div class="form-group w-100 mr-3">
            <label for="input-email">Email address:</label>
            <input type="email" class="form-control" id="input-email" value="<%= @user.email %>">
          </div>
           <div class="form-group w-40">
            <label for="input-phone">Phone number:</label>
            <input type="text" class="form-control" id="input-phone" value="<%= @user.phone_number %>">
          </div>
        </div>
      </div>

      <h5>Address</h5>
      <div class="border-top border-bottom border-dark pb-3 mb-4">

        <div class="d-flex  mt-4">
          <div class="form-group w-100 mr-3">
            <label for="input-street">Street:</label>
            <input type="text" class="form-control" id="input-street" value="<%= @user.street_address %>">
          </div>
           <div class="form-group w-90">
            <label for="input-city">City:</label>
            <input type="text" class="form-control" id="input-city" value="<%= @user.city_address %>">
          </div>
        </div>
        <div class="d-flex">
          <div class="form-group w-40 mr-3">
            <label for="input-zip">ZIP code:</label>
            <input type="text" class="form-control" id="input-zip" value="<%= @user.zip_address %>">
          </div>
           <div class="form-group w-100">
            <label for="input-country">Country:</label>
            <input type="text" class="form-control" id="input-country" value="<%= @user.country_address %>">
          </div>
        </div>

      </div>

      <button type="submit" class="btn btn-primary">Submit changes</button>

    </form>

    </div>

  </div>

  <div id="bookings-tab" class="bg-white p-4 border">
    <h5>Current bookings</h5>
    <% if @current_bookings == [] %>
      <div class="mt-3 mb-5">
        <em>No current bookings</em>
      </div>
    <% else %>

      <table class="table">
        <thead>
          <tr>
            <th scope="col" class="th-lg">Booking #</th>
            <th scope="col" class="th-lg">Start date</th>
            <th scope="col" class="th-lg">End date</th>
            <th scope="col" class="th-lg">Car</th>
            <th scope="col" class="th-lg">Owner</th>
            <th scope="col" class="th-lg"></th>
          </tr>
        </thead>
        <tbody>
          <% @current_bookings.each do |booking| %>
          <tr>
            <th scope="row" class="align-middle"><%= booking.id %></th>
            <td class="align-middle"><%= booking.start_date.strftime("%F %T") %></td>
            <% if DateTime.now <= booking.end_date.to_datetime %>
              <td class="align-middle"><em>Still running</em></td>
            <% else %>
              <td class="align-middle"><%= booking.end_date.strftime("%F %T") %></td>
            <% end %>

            <td class="align-middle"><%= booking.trabi.title %></td>
            <td class="align-middle"><%= booking.trabi.user.email %></td>
            <% if DateTime.now <= booking.end_date.to_datetime %>
              <td class="align-middle pt-1 pb-1"><a class="btn btn-primary disabled">Review</a></td>
            <% else %>
              <td class="align-middle pt-1 pb-1"><a id="<%="#{booking.id}-booking-review-button"%>" class="btn btn-primary">Review</a></td>
            <% end %>
          </tr>
            <% if DateTime.now > booking.end_date.to_datetime %>
                <tr>
                  <td colspan="6" class="p-0">
                    <div id="<%="#{booking.id}-booking-review-box"%>" class="border border-dark p-3  row">
                      <div class="col-12">
                        <%= simple_form_for(booking, method: "put") do |f| %>
                        <div class="col-2">
                          <%= f.input :rating_review,  collection: [0, 1, 2, 3, 4, 5], class: "form-group" %>
                        </div>
                        <div class="col-12">
                          <%= f.input :content_review, class: "form-group" %>
                          <%= f.button :submit, label: "Submit review", class: "btn btn-primary" %>
                          <a id="<%="#{booking.id}-booking-review-cl-button"%>" class="btn btn-primary">Close</a>
                        </div>
                        <% end %>
                      </div>
                    </div>
                  </td>
                </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>

    <% end %>

    <h5 class="pt-4">Archived bookings</h5>
    <% if @archived_bookings == [] %>
      <div class="mt-3 mb-5">
        <em>No archived bookings</em>
      </div>
    <% else %>

      <table class="table">
      <thead>
        <tr>
          <th scope="col" class="th-lg">Booking #</th>
          <th scope="col" class="th-lg">Start date</th>
          <th scope="col" class="th-lg">End date</th>
          <th scope="col" class="th-lg">Car</th>
          <th scope="col" class="th-lg">Owner</th>
          <th scope="col" class="th-lg">Rating</th>
        </tr>
      </thead>
      <tbody>
        <% @archived_bookings.each do |booking| %>
        <tr>
          <th scope="row"><%= booking.id %></th>
          <td><%= booking.start_date.strftime("%F %T") %></td>
          <td><%= booking.end_date.strftime("%F %T") %></td>
          <td><%= booking.trabi.title %></td>
          <td><%= booking.trabi.user.email %></td>
          <% if booking.rating_review.nil? %>
            <td><em>No rating</em></td>
          <% else %>
            <td>
              <% if booking.rating_review.zero? %>
                <a id="<%="#{booking.id}-booking-rating-button"%>">
                  <i id="<%="#{booking.id}-bones-icon"%>" class="fas fa-skull-crossbones text-danger"></i>
                </a>
              <% else %>
                <a id="<%="#{booking.id}-booking-rating-button"%>">
                  <% booking.rating_review.times do %>
                    <i id="<%="#{booking.id}-star-icon"%>" class="fas fa-star text-warning"></i>
                  <% end %>
                </a>
              <% end %>
            </td>
          <% end %>
        </tr>
        <tr>
          <td colspan="6" class="p-0">
            <div id="<%="#{booking.id}-booking-rating-box"%>" class="border border-dark p-3  row">
              <div class="col-12">
                <p><%= booking.content_review %></p>
                <a id="<%="#{booking.id}-booking-rating-cl-button"%>" class="btn btn-primary">Close</a>
              </div>


            </div>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>

  <% end %>

  </div>
  <div id="trabis-tab" class="bg-white p-4 border">
    <h5>My current cars</h5>
    <% if @user.trabis == [] %>
      <div class="mt-3 mb-5">
        <em>No trabis offered yet</em>
      </div>
    <% else %>

      <table class="table">
        <thead>
          <tr>
            <th scope="col" class="th-lg">Trabi #</th>
            <th scope="col" class="th-lg">Title</th>
            <th scope="col" class="th-lg">Color</th>
            <th scope="col" class="th-lg">Year</th>
            <th scope="col" class="th-lg"></th>
          </tr>
        </thead>
        <tbody>
          <% @user.trabis.each do |trabi| %>
          <tr>
            <th scope="row"><%= trabi.id %></th>
            <td class="align-middle"><%= trabi.title %></td>
            <td class="align-middle"><%= trabi.color %></td>
            <td class="align-middle"><%= trabi.year %></td>
            <td class="pt-1 pb-1"><%= link_to "Details", trabi_path(trabi), class: "btn btn-primary" %>
            <!-- <a href="#" class="btn btn-primary">Details</a> --></td>
          </tr>
          <% end %>
        </tbody>
      </table>

    <% end %>
  </div>
</div>
