<div class="container">
  <div class="my-3">
    <h1>Trabants:</h1>
    <hr>
  </div>

  <div class="d-inline-flex justify-content-around">

    <div class="w-100">
      <div
      id="map"
      style="width: 90%;
      height: 600px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
    </div>

    <div class="w-60">
      <% @trabis.each do |trabi| %>
        <div class="card-product">
          <% if trabi.pictures.present? %>
          <%= cl_image_tag trabi.pictures.first.url  %>
          <% else %>
          <%= image_tag asset_url('default_trabant_picture.jpg') %>
          <% end %>

          <div class="card-product-infos">
            <h2><%= link_to trabi.title, trabi_path(trabi) %></h2>
            <p class="truncate-overflow"> <%= trabi.description[0..200] %> </p>
          </div>
        </div>
      <% end %>
    </div>
  </div>





 <%= link_to 'Rent out Trabant', new_trabi_path, class: "btn btn-small btn-primary"%>
</div>
