<div class="container">
  <div class="my-3">
    <h1>Trabants:</h1>
  </div>

  <div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>

  <% @trabis.each do |trabi| %>

    <div class="card-product">
      <% if trabi.pictures.present? %>
      <%= cl_image_tag trabi.pictures.first.url  %>
      <% else %>
      <img src="https://cdn.motor1.com/images/mgl/xxobp/s1/trabant-601-by-vilner.jpg" />
      <% end %>

      <div class="card-product-infos">
        <h2><%= link_to trabi.title, trabi_path(trabi) %></h2>
        <p class="truncate-overflow"> <%= trabi.description[0..200] %> </p>
      </div>
    </div>

  <% end %>


 <%= link_to 'Rent out Trabant', new_trabi_path, class: "btn btn-small btn-primary"%>
</div>
