<div class="container">

  <div style='height: 100px;'></div>

  <div id="title">
    <h2><strong><%= @trabi.title %></strong></h2>
  </div>


  <div id="trabi-main-box">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <!-- TODO: insert @trabi.image1 -->
        <% if @trabi.pictures.present? %>
         <%= cl_image_tag(@trabi.pictures.first.url, width: 500, height:500, crop: :fill) %>
        <% else %>
          <img src="https://cdn.motor1.com/images/mgl/xxobp/s1/trabant-601-by-vilner.jpg" />
         <% end %>
      </div>
        <% if @trabi.pictures.length > 1 %>
         <% @trabi.pictures.drop(1).each do |picture| %>
             <div class="carousel-item">
        <!-- TODO: insert @trabi.image2 -->
              <%= cl_image_tag(picture.url, width: 500, height:500, crop: :fill) %>
            </div>
          <% end %>

        <% end %>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div>
    <div id="trabi-desc-card">
      <div id="info-box">
        <p> <strong>Owner: </strong> <%= @trabi.user.email %></p>
        <p> <strong>Color: </strong> <%= @trabi.color %></p>
        <p> <strong>Year: </strong> <%= @trabi.year %></p>
        <p> <strong> Address: </strong> <%= @trabi.address %> </p>
      </div>
      <div id="desc-box">
        <p><%= @trabi.description %></p>
      </div>

    </div>
    <div id="trabi-form-card">
      <div >
        <%= form_for(@booking) do |f| %>
          <%= hidden_field_tag 'user_id', @user.id %>
          <%= hidden_field_tag 'trabi_id', @trabi.id %>
          <div class="trabi-form-group">
            <%= f.label "Date:" %>
            <%= f.date_field :start_date %>
          </div>
          <div>
            <%= f.submit class: 'trabi-btn', value: 'Book this Trabant', id: "rent-btn" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>




</div>
<hr>
  <div id="title">
    <h4><strong>Reviews</strong></h4>
  </div>
  <% if @trabi.bookings.length > 0 %>
    <% @trabi.bookings.each do |booking| %>
      <% if booking.rating_review != nil %>
      <div id="trabi-review-card">

            <p><strong>Rating:</strong>
            <% if booking.rating_review.zero? %>
                <i id="skull" class="fas fa-skull-crossbones trabi-icon-skull"></i>
            <% else %>
                <% booking.rating_review.times do %>
                  <i id="star" class="fas fa-star trabi-icon-star"></i>
                <% end %>
              </a>
            <% end %>
            <div id="rating-line">
            <p id="user"><strong>User: </strong><%= booking.user.email %></p>
            <p><strong>Date: </strong><%= booking.start_date.strftime("%F") %></p>
          </div>
        <div id="review-line">
          <p><%= booking.content_review %></p>
        </div>
      </div>
      <% end %>
    <% end %>
  <% else %>
    <p><em>No reviews yet</em></p>
  <% end %>


